.card-component-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

.card-component {
    background: #fff;
    width: 280px;
    height: 360px;
}
.oneline {
    font-size: 25px;
    color: black;
}
.twoline{
    font-size: 15px;
    color: black;
}
